<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Dashboard - Stream Daddy</title>
    <link rel="stylesheet" href="/css/dashStyles.css">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Exo+2|Fjalla+One|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/icons.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/icons.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/icons.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/icons.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/icons.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/icons.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/icons.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icons.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/icons.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/icons.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons.ico/favicon-16x16.png">
    <link rel="manifest" href="/img/icons.ico/manifest.json">
    <meta name="msapplication-TileColor" content="transparent">
    <meta name="msapplication-TileImage" content="/img/icons.ico/ms-icon-144x144.png">
    <meta name="theme-color" content="transparent">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
    <script src="/js/dash-utils.js"></script>
</head>
<body>
    <div class="header">
        <h1><span id="userName"><%= user.displayName %></span>'s Dashboard</h1>
        <div class="navBar">
            <div id="contact">
                <i class="material-icons">email</i>
                <p>Contact us</p>
            </div>
        </div>
    </div>
    <div id="container">   
        <div class="grid">
            <div id="setup">
                <i class="material-icons">settings_input_hdmi</i>
                <p>SETUP YOUR CONTROLLER</p>
            </div>
            <div id="customize">
                <i class="material-icons">build</i>
                <p>CUSTOMIZE</p>
            </div>
            <div id="update">
                <i class="material-icons">update</i>
                <p>UPDATE LOCAL IP</p>
            </div>
            <div id="daddy">
                <img src="/img/logoTinywht.png" alt="SD">
                <p>GO TO STREAM DADDY</p>
            </div>
        </div>
    </div>
    <div id="footer">
        <img src="/img/logoLetteringwhtsm.png" alt="SD">
    </div>
    <!-- Modals -->
    <div id="setupModal" class="modal">
        <div class="header">
            <h1 id="instTitle">Instructions</h1>
        </div>
        <div class="modalContent">
            <i id="setupCloseBtn" class="material-icons">close</i>
            <div class="modalCard">
                <div class="step">
                    <i class="material-icons">computer</i>
                    <div class="list">
                        <ul>
                            <li>On the same computer on which you run OBS, go to <span><a target="_blank" rel="noopener" href="https://github.com/Palakis/obs-websocket/releases">
                                this page</a></span> to download Palakis' OBS Websocket.
                            </li>
                            <li>
                                There, select the correct version for your personal
                                device (.pkg for Apple Computers, .exe for 
                                Windows Computers) and OBS version.
                            </li>
                            <li>
                                Install.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="step">
                    <i class="material-icons">update</i>
                    <div class="list">
                        <ul>
                            <li>On the same computer you use for OBS, go to your dashboard page and click on the "Update Local IP" button. This will automatically save the local IP so you're good to go.<br>
                                --Note-- This address may change periodically so if you're having trouble using the app, repeat this step. <br>
                                Or you can also go <span><a target="_blank" rel="noopener" href="https://www.whatismybrowser.com/detect/what-is-my-local-ip-address"></a>here</a></span> and copy it down.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="step">
                    <i class="material-icons">tablet</i>
                    <div class="list">
                        <ul>
                            <li>On your controller device, go to <span><a target="_blank" rel="noopener" href="/user/" + <%= user.displayName %> + "/app">
                                www.streamdaddy.app/user/<%= user.displayName %>/app or click on "Go to Stream Daddy" on your dashboard.</a></span>.
                            </li>
                            <li>
                                Log in if necessary.
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="ipadOnly">
                    <h1>Step for iPad only</h1>
                    <hr>
                </div>
                <div class="step">
                    <i class="material-icons">phone_iphone</i>
                    <div class="list">
                        <img src="/img/add2Screen2.png" alt="add" id="add2Screen">
                        <ul>
                            <li>Make Stream Daddy look like a standalone app:</li>
                            <li>Once you are on <span><a target="_blank" rel="noopener" href="/user/" + <%= user.displayName %> + "/app">
                                www.streamdaddy.app/user/<%= user.displayName %>/app</a></span> on Safari, click on the share button on top, on the bottom row scroll to the right until you see "Add to Home Screen". Click it.
                            </li>
                            <li>
                                You should now have it on your Home Screen.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="attr">Checkmark Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                <!-- Modal -->
                <div id="imgModal">
                    <div id="imgModalContent">
                        <img src="/img/add2Screen2.png" alt="add">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contactModal" class="modal">
        <div class="header">
            <h1 id="instTitle">Contact</h1>
        </div>
        <!-- <div class="modalContent"> -->
        <div class="modalCard" id="contactCard">
            <i id="contactCloseBtn" class="material-icons">close</i>
            <div id="space"></div>
            <div class="step">
                <i class="material-icons">phone</i>
                <div class="list">
                    <ul>
                        <li>
                            streamdaddyapp@gmail.com
                        </li>
                        <li>
                            For emergencies, dial 911.
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <form action="/newMessage" method="POST"> -->
            <div class="step" id="form">
                <textarea id="messageArea" name="message" wrap="offf" id="" cols="30" rows="7"></textarea>
                <input type="submit" name="submit" value="Send" id="submit">
            </div>
            <!-- </form> -->
        </div>
        <!-- </div> -->
    </div>
    <div id="alertModal">
        <div id="alertCard">
            <p id="topLabel" class="modalLabel">placeholder</p>
            <p class="address" id="privateIp"></p>
            <input type="text" id="input" value="<%= user.ip %>">
            <button id="manualUpBtn">Update</button>
            <button id="alertBtn">Exit</button>
            <p id="resLabel" class="modalLabel"></p>
            <iframe id="iframe" sandbox="allow-same-origin" style="display: none"></iframe>
        </div>
    </div>
    <div id="customModal">
        <div id="gridWrap">
            <div id="customGrid">
                <div id="gridLogo">
                    <img src="/img/logoLetteringsm.png" alt="">
                </div>
                <i id="customCloseBtn" class="material-icons">close</i>
                <div id="btnNav">
                    <div class="btnSection">
                        <i class="material-icons" id="customTemp">settings_remote</i>
                        <p>BTNS</p>
                    </div>
                    <!-- <div class="btnSection">
                        <img src="/img/twitterLogo.png" alt="twitter" id="twitterHeader">
                    </div> -->
                </div>
                <div id="leftNav">
                    <button id="addNav">Add Button</button>
                    <button id="delNav">Delete Button</button>
                </div>
                <div id="routerOutlet">
                    <div id="sdRemote" class="outlet">
                        <!-- interface for customizing remote -->
                        <div id="sdRHeader">
                            <h1 id="sdRHeader1">Customize your buttons!</h1>
                            <p id="instr">Select the icon and set the title and bot command below (Max 3 buttons).</p>
                        </div> 
                        <div id="createBtn">
                            <div id="btnIcon">
                                <p>Select the icon for your new button</p>
                                <i class="material-icons i">games</i>
                                <i class="material-icons i">videogame_asset</i>
                                <i class="material-icons i">play_arrow</i>
                                <i class="material-icons i">skip_next</i>
                                <i class="material-icons i">music_note</i>
                                <i class="material-icons i">music_off</i>
                                <i class="material-icons i">feedback</i>
                                <i class="material-icons i">fingerprint</i>
                                <i class="material-icons i">airplay</i>
                                <i class="material-icons i">local_play</i>
                                <i class="material-icons i">perm_identity</i>
                                <i class="material-icons i">airline_seat_individual_suite</i>
                            </div>
                            <div id="botcommand">
                                <p>Enter the exact bot command below (include the !).</p>
                                <input id="command" type="text">
                            </div>
                            <div id="titleDiv">
                                <p>Type in the title of your button.</p>
                                <input id="title" type="text">
                            </div>
                            <div id="sbCreate">
                                <button id="create">Create your button!</button>
                            </div>
                        </div>
                        <div id="current">
                            <div id="currBtns"></div>
                        </div>
                    </div>
                    <div id="twitter" class="outlet">
                        <!-- <h1>Want to be able to tweet directly from the Stream Daddy Controller?</h1>
                        <p>If so, begin by clicking the button below to begin the process of granting permission.</p>
                        <img src="/img/twitter.png" alt="twitterBtn" id="signupTwitter"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="smModal" class="modal">
        <div>
            <i id="smModalClose" class="material-icons">close</i>
            <p id="smModalInstr">Delete this button?</p>
            <button id="smBtn">Yeah whatever</button>
        </div>
    </div>
    <div id="hidden">
        <%= JSON.stringify(user.custom) %>
    </div>
    <script>
        let request = obj => {
            return new Promise(((resolve, reject) => {
                let xhr = new XMLHttpRequest();
                    if (!obj.credentials) {
                        xhr.withCredentials = false;
                    } else {
                        xhr.withCredentials = true;
                    }
                    xhr.open(obj.method || "GET", obj.url);
                    if (obj.headers) {
                        Object.keys(obj.headers).forEach(key => {
                            xhr.setRequestHeader(key, obj.headers[key]);
                        });
                }
                xhr.onload = () => {
                    if (xhr.status >= 200 && xhr.status < 300) {
                        resolve(xhr.response);
                    } else {
                        reject(xhr.statusText);
                    }
                };
                xhr.onerror = () => reject(xhr.statusText);
                xhr.send(obj.body || null);
            }));
        };
        $(document).ready(function() {
            const data = $('#hidden').html();
            var custom = JSON.parse(data);
            setTable(custom);
        });
    </script>
</body>
</html>